.pagination {
    display: flex;
    align-items: center;
    color: var(--text-dark);
    justify-content: center;
}

.pagination span {
    font-family: sans-serif;
    font-size: 2rem;
}

.pagination .MuiSvgIcon-root {
    font-size: 6rem;
    cursor: pointer;
    color: #ffa800;
}

.pagination .MuiSvgIcon-root:hover {
    color: var(--text-dark);
}

@media screen and (max-width: 767px) {
    .pagination span {
        font-size: .5rem;
        margin-right: 5px;
    }
}