.card {
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.card:hover {
  filter: brightness(1.25);
}

.card a {
  position: relative;
  height: 300px;
  width: fit-content;
}

.card a img {
  height: 280px;
  width: 190px;
  object-fit: cover;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.card a span {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--accent-dark);
  font-weight: bold;
  padding: 0.2rem;
  min-height: 2.5rem;
  justify-content: center;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.card-title {
  position: absolute;
  bottom: 3px;
  background-color: #000000a2;
  width: 100%;
  min-height: 50px;
  text-align: center;
  font-weight: bold;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.card-title p {
  color: var(--text-dark);
  font-family: sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.card:hover .card-title p {
  -webkit-line-clamp: 10;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.card > .MuiSvgIcon-root {
  visibility: hidden;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  color: var(--secondary-dark);
  font-size: 2rem;
  top: 5px;
  right: 5px;
  z-index: 100;
  cursor: pointer;
}

.card:hover > .MuiSvgIcon-root {
  visibility: visible;
}

.card-watchlist {
  visibility: hidden;
  position: absolute;
  background-color: var(--primary-dark);
  color: white;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 99;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
}

.card-watchlist .action-button {
  display: flex;
  align-items: center;
}

.card-watchlist p {
  order: 2;
}

.card-watchlist .MuiSvgIcon-root {
  order: 1;
  margin-left: 0.5rem;
}

.card:hover .card-watchlist {
  visibility: visible;
}
