.card a {
  position: relative;
  height: 300px;
  width: fit-content;
}

.card a img {
  height: 280px;
  width: 190px;
  object-fit: cover;
}

.card-title {
  position: absolute;
  bottom: 0;
  background-color: #00000080;
  width: 100%;
  min-height: 50px;
  text-align: center;
}

.card-title p {
  color: var(--text-dark);
  font-family: sans-serif;
  padding: 10px;
}
