.episode-list {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1420px;
  min-height: 60vh;
}

.episode-list-anime {
  display: flex;
  background-color: var(--secondary-dark);
  width: 100%;
}

.episode-list-anime img {
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 7px;
}

.episode-list-anime-info-poster {
  position: relative;
  height: 350px;
  width: 250px;
}

.episode-list-anime-info-poster .action-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: #1c2128;
  border-radius: 7px;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.episode-list-anime-info-poster .action-button span {
  padding: 0 0.3rem;
}

.episode-list-anime-info {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem 0 0;
}

.episode-list-anime-info-state {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.episode-list-anime-info-state li {
  background-color: var(--accent-dark);
  padding: 0.5rem 0.5rem;
  border-radius: 7px;
  color: var(--text-dark);
  font-weight: bold;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.episode-list-anime-info p {
  width: 250px;
  color: var(--text-dark);
  display: -webkit-box;
  -webkit-line-clamp: 15;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.episode-list-pagination {
  width: 100%;
}

.episode-list-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1400px) {
  .episode-list {
    width: 90%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .episode-list-anime {
    flex-direction: column;
  }
  .episode-list-anime-info {
    flex-direction: row;
    margin: 2rem 2rem 0 0;
  }
  .episode-list-anime-info-state {
    display: none;
  }
  .episode-list-anime-info p {
    margin-left: 2rem;
    -webkit-line-clamp: 17;
  }
}
