.searchbar {
    width: 100%;
    margin: 1rem;
}

.searchbar-input {
    min-width: 90%;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: var(--primary-dark);
    color: var(--text-dark);
    font-size: 1.2rem;
}