.app-main {
  background-color: var(--primary-dark);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.app-sec {
  width: 100%;
  margin: 2rem;
  background-color: var(--secondary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
}
